body{
    background-color: #f4c2c2;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-tag{
    width:20px;
    background-color: pink;
}

#card-columns{
    position: relative;
    z-index: 0;
}


.x{
    cursor: pointer;
}

.tt-input, .tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */

    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    cursor: pointer;
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion:hover {
    background-color: lightpink;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}


.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu{
    margin-top: 0;
}


.footer {
    position: relative;
    top: 30px;
    left: 0;
    bottom: 0;
    right :0;
    width: 100%;
    background-color: #FF69B4;
    color: white;
    text-align: center;
    font-family: Arial; 
    font-size: small;
  }


.profile .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.card:hover{
    cursor: pointer;
}

.carousel:hover{
    cursor: pointer;
}

#recipeVideo{
    cursor: pointer;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}